*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

.menu-container{
    border: 1px solid red;
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu{
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.signup{
    margin-left: auto;
}

/*.links{
    border:1px solid #fff;
    display:flex;
    justify-content: flex-end;   This section is removed by using automargin above it
}*/

.login{
    margin-left: 20px;
}

.header-container{
    color: #5995DA;
    background-color: #D6E9FE;
    display:flex;
    justify-content: center;
}

.header{
    width: 900px;
    height: 300px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.photo-grid-container{
    display: flex;
    justify-content: center;
    border: 1px solid lightgreen;

}

.photo-grid{
    display: flex;
    border: 2px solid purple;
    width: 904px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

.first-item{
    order: 1;
}

.last-item{
    order: -1;
}

.social,
.subscribe{
    align-self: flex-end;
    margin-bottom: 20px;
}

.footer{
    display:flex;
    justify-content: space-between;
    border: 2px solid pink;
}

.footer-item{
    border: 1px solid #f30000;
    background-color: #D6E9FE;
    height:200px;
    flex: 1;

}

.footer-one,
.footer-three{
    background-color: #5995DA;
    flex:initial;
    width: 300px;
}